## CASE STUDY I (Module 5 & 6) — FINAL CODE
STEP 0: Import libraries

In [1]:
import pandas as pd
import numpy as np

In [ ]:
# STEP 1: Read the three CSV files

math = pd.read_csv("data/MathScoreTerm1.csv")
physics = pd.read_csv("data/PhysicsScoreTerm1.csv")
ds = pd.read_csv("data/DSScoreTerm1.csv")

In [ ]:
# STEP 2: Remove Name and Ethnicity (confidentiality)
for df in [math, physics, ds]:
    df.drop(columns=['Name', 'Ethnicity'], inplace=True, errors='ignore')

In [4]:
# STEP 3: Fill missing score data with ZERO
math.fillna(0, inplace=True)
physics.fillna(0, inplace=True)
ds.fillna(0, inplace=True)

In [6]:
math.columns

Index(['Name', 'Score', 'Age', 'Ethinicity', 'Subject', 'Sex', 'ID'], dtype='object')

In [7]:
physics.columns

Index(['Name', 'Score', 'Age', 'Ethinicity', 'Subject', 'Sex', 'ID'], dtype='object')

In [8]:
ds.columns

Index(['Name', 'Score', 'Age', 'Ethinicity', 'Subject', 'Sex', 'ID'], dtype='object')

In [17]:
# STEP 4: Merge the three files
merged_df = math.merge(physics, on='ID') \
                .merge(ds, on='ID')

In [ ]:
# STEP 5: Convert Sex column (M/F → 1/2)
merged_df['Sex'] = merged_df['Sex'].map({'M': 1, 'F': 2})

In [20]:
# STEP 6: Store the data in a new file
merged_df.to_csv("data/ScoreFinal.csv", index=False)

In [31]:
# Enhancement 1 (safe version)
if 'Ethnicity' in merged_df.columns:
    merged_df['Ethnicity'] = merged_df['Ethnicity'].astype('category').cat.codes

In [26]:
# Enhancement 2: Fill missing score with class average
score_cols = merged_df.select_dtypes(include=np.number).columns

merged_df[score_cols] = merged_df[score_cols].apply(
    lambda x: x.fillna(x.mean())
)

In [32]:
merged_df.head()

,Score_x,Age_x,Subject_x,Sex_x,ID,Score_y,Age_y,Subject_y,Sex_y,Score,Age,Subject,Sex
0,88.0,18,Maths,M,1,84.0,18,Physics,M,82.0,18,Data Structue,1
1,85.0,19,Maths,M,2,81.0,19,Physics,M,79.0,19,Data Structue,1
2,45.0,19,Maths,M,3,41.0,19,Physics,M,39.0,19,Data Structue,1
3,82.0,18,Maths,M,4,78.0,18,Physics,M,76.0,18,Data Structue,1
4,82.0,18,Maths,F,5,78.0,18,Physics,F,76.0,18,Data Structue,2

In [33]:
merged_df.shape

(599, 13)

In [34]:
# Ethnicity column was removed to ensure confidentiality. Optional enhancement logic is demonstrated conditionally.